$corners: 1rem;

#navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
}

#navbar-nav {
	width: 80%;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
#navbar-nav li:first-child {
	border-radius: $corners 0 0 $corners;
}
#navbar-nav li:last-child {
	border-radius: 0 $corners $corners 0;
}

.navbar-item {
	position: relative;
	font-size: 0.8rem;
	background-color: white;
	padding: 0.5rem 1rem;
	flex: 1;
	display: flex;
	justify-content: center;
}

.navbar-item a {
	text-decoration: none;
}
