@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Noto+Sans+JP:wght@300&display=swap");

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif, KleeOne,
		Noto Sans JP;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: black;
	background-color: lightblue;
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@define-mixin fillScreen {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

html,
body,
#root {
	@mixin fillScreen;
}

.fullscreen {
	@mixin fillScreen;
}

.center-children {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#r3f-container {
	z-index: -1000;
	position: fixed;
	height: 100%;
	width: 100%;
}

.title {
	font-size: 2rem;
}
