@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Noto+Sans+JP:wght@300&display=swap");

:root {
	/* Z-Index */
	--background: -1;
	--content: 1;
	--control: 2;
	--overlay: 3;
}

#r3f-container {
	z-index: var(--background);
	position: fixed;
	height: 100%;
	width: 100%;
}

@define-mixin fillScreen {
	margin: 0;
	height: 100%;
	width: 100%;
}

html,
body,
#root {
	@mixin fillScreen;
}

body {
	margin: 0 auto;
}

section {
	position: relative;
	display: flex;
	@mixin fillScreen;
}

section > .vertical-center {
	align-self: center;
}

.title {
	font-size: 2rem;
}
